{{!< layout}}

        <!-- the Javascript file js/addon.js is imported in the layout -->
        <!-- It contains functions which execute actions for buttons/links in this page -->

<section class="aui-connect-page" role="main">

  <!-- In this single page hack outlined above, the last section is visible initially. -->
  <span id="group-info" class="content-target"></span>
  <section class="aui-connect-content with-list">
    <ol class="aui-connect-list">
      {{#each jobs}}
          
        <li class="aui-connect-list-item">
          <div class="aui-connect-list-item-header">
            <span class="aui-avatar aui-avatar-xsmall">
                <span class="aui-avatar-inner">
                    <img style="background-color: {{this.color}};" />
                </span>
            </span>
            {{!-- <a href='{{this.url}}' target='_blank'> --}}
              <span class="aui-connect-list-item-title">{{this.name}}</span>
            {{!-- </a> --}}
          </div>
        </li>
        {{/each}}
    </ol>
  </section>

</section>
<footer class="aui-connect-footer">
  <a href="https://ci.web-essentials.asia" target="_blank">Go to Jenkins</a>
</footer>
<script src="/js/sidebar-page-switcher.js"></script>
