/* add-on styles */

/* Styles for the sidebar to support the single page content approach. */
.content-target {
  display: none;
  position: absolute;
  top: 0;
}
.aui-connect-content,
:target ~ .aui-connect-content,
:target ~ .aui-connect-content:last-child {
  display: none;
}
:target + .aui-connect-content,
:target + .aui-connect-content:last-child {
  display: block;
}
.aui-connect-content:last-child {
  display: block;
}


.aui-connect-list-item-title {
	margin-left: 24px
}


#project-name-sidebar-header {
	color: #333;
    font-family: Arial, sans-serif  !important;
    font-size: 24px;
    line-height: 32px;
    margin:20px;
}